body{
    background-image: url(./HD-wallpaper-calculator-glasses-cactus-aesthetics-red.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    border: 10px solid rgb(24, 212, 7);
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 15%;
    background-color: black(7, 212, 185);
}